.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.listItem{
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.listItem b{
    margin-right: 5x;
}

.listLink{
    display: block;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin-top: 1rem;
    border-radius: 20px;
}